# Unmasking 6/49 lottery probabilities

In an effort to fight gambling addiction a medical institute wants to build a dedicated mobile app that helps reveal the risks and chances of participating in various gambling activities.  
The following work represents the logical core focused on 6/49 lottery (Canada's local lottery).

**core functions**

In [3]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

def combinations(n, k):
    enumerator = factorial(n)
    denominator = factorial(k) * factorial(n - k)
    return enumerator / denominator

### Winning with one ticket

In [4]:
def one_ticket_probability(list_6):
    outcomes = combinations(49, 6)
    numbers_string = ', '.join(map(str, list_6))
    p_big_prize = 1 / outcomes
    print('Chance of Winning the Big Prize with the numbers {} is {:%}'\
        .format(numbers_string, p_big_prize))

In [5]:
one_ticket_probability([4,5,3,1,5,6])

Chance of Winning the Big Prize with the numbers 4, 5, 3, 1, 5, 6 is 0.000007%

Any combination of 6 unique numbers from 1 to 49 has the same probability winning.

### Winning numbers since 1982

In [6]:
import pandas as pd

In [7]:
lottery = pd.read_csv('649.csv')
print(lottery.shape)
lottery.head(3)

(3665, 11)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [8]:
lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [9]:
def extract_numbers(lottery_row):
    number_cols = ['NUMBER DRAWN ' + str(i) for i in range(1, 7)]
    return set(lottery_row[number_cols].values)

In [10]:
winning_numbers = lottery.apply(extract_numbers, axis = 1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [11]:
def check_historical_occurence(user_numbers, win_num_series):
    user_set = set(user_numbers)
    numbers_string = ', '.join(map(str, user_set))
    times_won = (win_num_series == user_set).sum()
    print('There are {} occurences of winnning the big price with the numbers {}'\
        .format('no' if times_won == 0 else times_won, numbers_string))
    one_ticket_probability(user_numbers)

In [12]:
check_historical_occurence([6,22,21,31,32,34], winning_numbers)

There are no occurences of winnning the big price with the numbers 32, 34, 6, 21, 22, 31
Chance of Winning the Big Prize with the numbers 6, 22, 21, 31, 32, 34 is 0.000007%

In [13]:
def multi_ticket_probability(n):
    outcomes = combinations(49, 6)
    p_big_prize = min(n / outcomes, 1)
    print('Chances of winning the big prize with {} tickets is {:%}'\
        .format(n, p_big_prize))

In [14]:
multi_ticket_probability(13983817)

Chances of winning the big prize with 13983817 tickets is 100.000000%

In [49]:
def probability_less_6(win_int):
    if (win_int < 2 or win_int > 5):
        return print('Number needs to be between 2 and 5.')
        
    total_outcomes = combinations(49, 6)
    win_int_combinations = combinations(6, win_int)
    win_int_outcomes = win_int_combinations * combinations(49 - win_int - 1, 6 - win_int)
    print('Chance of guessing {} winning numbers is {:%}'\
          .format(win_int, win_int_outcomes / total_outcomes))

In [53]:
probability_less_6(2)

Chance of guessing 2 winning numbers is 17.504342%